<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--数据库配置  -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/lott_sys">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
		
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				 <prop key="hibernate.format_sql">true</prop>
   				 <prop key="hibernate.show_sql">false</prop> 
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/lott_sys/vo/Playmethods.hbm.xml</value>
				<value>com/lott_sys/vo/Lottery.hbm.xml</value>
				<value>com/lott_sys/vo/Users.hbm.xml</value>
				<value>com/lott_sys/vo/Dictionary.hbm.xml</value></list>
		</property>
		
		</bean>
		
	<bean id="baseDAO" class="com.lott_sys.dao.BaseDAO">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property></bean>
	
	<bean id="usersdao" class="com.lott_sys.dao.UsersDAO" parent="baseDAO"></bean>
	<bean id="lotterydao" class="com.lott_sys.dao.LotteryDAO" parent="baseDAO"></bean>
	<bean id="dictionarydao" class="com.lott_sys.dao.DictionaryDAO" parent="baseDAO"></bean>
	
	<bean id="lotteryoperator" class="com.lott_sys.util.LotteryOperator">
		<property name="lotterydao">
			<ref bean="lotterydao"/>
		</property>
		<property name="dictionarydao">
			<ref bean="dictionarydao"/>
		</property>
	</bean>
	
	<bean id="numfilter" class="com.lott_sys.util.NumFilter">
		<property name="dictionarydao">
			<ref bean="dictionarydao"/>
		</property>
	</bean>
	
	<bean id="usersaction" class="com.lott_sys.action.UsersAction" scope="prototype">
		<property name="usersdao">
			<ref bean="usersdao"/>
		</property>
	</bean>
	
	<bean id="lotteryaction" class="com.lott_sys.action.LotteryAction" scope="prototype">
		<property name="lotterydao">
			<ref bean="lotterydao"/>
		</property>
		<property name="lo">
			<ref bean="lotteryoperator"/>
		</property>
	</bean>
	
	<bean id="lottfilteraction" class="com.lott_sys.action.LottFilterAction" scope="prototype">
	    <property name="numfilter">
			<ref bean="numfilter"/>
		</property>
	</bean>
	
</beans>